.SecondContainer {
  width: 100%;
}
.text-left-secondContainer {
  padding: 6rem 4rem;
}
.h2-Heading {
  font-size: 32px;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  font-family: "Mulish", sans-serif;
}
.loremPara1-secondContainer {
  text-align: left;
  padding-top: 16px;
  font-size: 16px;
  line-height: 25px;
  max-width: 50%;
  color: black;
  opacity: 0.9;
  font-family: "Mulish", sans-serif;
}

.icons-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 13rem;
  padding: 6rem;
}
.progress-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid tomato; /* Grey border */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px; /* Space between icons and text */
}
.icon {
  color: tomato; /* Set the color for the icon */
}
.icon-text {
  text-align: center;
  width: 250px; /* Adjust to match icon width */
  font-size: 17px;
  font-weight: 700;
  color: black;
  padding-top: 5px;
}
.short {
  font-size: 14px;
  color: black;
  text-align: center;
  width: 250px;
  padding-top: 15px;
  line-height: 20px;
}
.icon-with-text3 {
  margin-top: -9rem;
}
.icon-with-text2 {
  margin-top: -5rem;
}
